.container-principal-app{
    background-image: url(https://www.tuboleta.com/images/Tuboleta_Pass/assets/img/hero-bg.jpg);
    height: 100%;
    background-size: cover;
}

@media (min-width: 0px) and (max-width: 991.98px){
    .container-principal-app{
        padding-top: 30px;
    }
}